# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Terraform 상태 파일 및 백업 파일
terraform.tfstate
terraform.tfstate.backup
*.tfstate.*
*.backup

# Terraform 작업 디렉토리
.terraform/

# 개인 키 파일 및 민감한 정보
key.json
*.tfvars
*.tfvars.json

# 로컬 개발 환경 파일
docker-compose.yaml